fastapi
uvicorn[standard]
requests
httpx
python-dotenv
vite

numpy
sounddevice
pygame
soundfile

faster-whisper
edge-tts
openwakeword
onnxruntime

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

ddgs

sentence-transformers 
faiss-cpu